body {
  background-color: #F0F0F0;
}

.container {
  padding-top: 20px;
}

.card-chart {
  margin: 10px 0px;
}

.card-issue-header {
  margin: 10px 0px;
}

table.table.garg-table {
  background-color: #FCFCFC;
  font-size: 14px;
}

div.fixed-table-body {
  background-color: #FCFCFC;
}